<!-- <div class="jumbotron">
    <div class="container, container-fluid">
      <div class="row">
        <div class="col-lg-5 col-md-12 d-flex justify-content-center align-items-center">
          <img class="border border-secondary rounded-circle" src="{{ site.url }}{{ site.baseurl }}/assets/images/shasha.png" alt="Profile Picture" style="max-width:100%; max-height:400px;">
        </div>
        <div class="col-lg-7 col-md-12" style="margin-top: 10%;">   

            <p class="text-center">
              Hello! I'm a nice and friendly person with a solid background in Mathematics and Data Science. I have a creative mind and am always up for new challenges!
            </p>
  
          <div class="text-center mt-4">
            <a type="button" class="btn btn-custom-outline btn-outline-dark btn-lg" href="{{ site.url }}{{ site.baseurl }}/assets/resume.pdf"> Resume/CV </a>
          </div>
  
        </div>
      </div>
    </div>
</div> -->

<div class="jumbotron">
  <div class="container, container-fluid">
    <div class="row">
      <div class="col-lg-5 col-md-12 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
        <img class="border border-secondary rounded-circle" src="{{ site.url }}{{ site.baseurl }}/assets/images/shasha.png" alt="Profile Picture" style="max-width: 100%; height: auto;">
      </div>
      <div class="col-lg-7 col-md-12 d-flex flex-column justify-content-center">   
          <p class="text-center">
            Hello! I'm a nice and friendly person with a solid background in Mathematics and Data Science. I have a creative mind and am always up for new challenges!
          </p>
          <div class="text-center mt-4">
            <a type="button" class="btn btn-custom-outline btn-outline-dark btn-lg" href="{{ site.url }}{{ site.baseurl }}/assets/resume.pdf"> Resume/CV </a>
          </div>
      </div>
    </div>
  </div>
</div>
