<div class="jumbotron">
    <div class="container, container-fluid">
      <h2 class="display-4 mb-5 text-center"> Activies </h2>
    <div class="row justify-content-center">
        <div>
          <p>
            Aside from teaching math and designing algorithms, I also enjoy working as a volunteer within a team and being an artist when I am alone during my leisure time.
          </p>
        </div>
        <div class="col-lg-8 col-md-12"> 
          {% include carousel.html id="carousel_activities" interval=5000 slides=site.data.carousel.activities_slides %}
        </div>
    </div>
    </div>
</div>