<div class="jumbotron">
    <div class="container, container-fluid">
      <h2 class="display-4 mb-5"> Education </h2>
      <div class="row">
  
        {% for education in site.data.education %}
        <div class="col-3 text-center">
          <img class="bg-white mb-3 rounded-circle shadow" src="{{ site.url }}{{ site.baseurl }}/assets/images/logo_jpeg/schools/{{ education.logo_filename }}" style="max-width:100px; max-height:100px;">
        </div>
        <div class="col-9"> 
          <h3> {{ education.school }} </h3>

          <ul style="overflow: dropdown">
            {% for degree in education.degrees %}
              <li>{{ degree.degree_name }} <span style="float: right"> {{ degree.years }} </span> </li>
            {% endfor %}
          </ul>
        
        </div>
        {% endfor %}
  
      </div>
    </div>
</div>