<div class="jumbotron bg-white">
  <div class="container, container-fluid">
    <h2 class="display-4 mb-5 text-center"> Experiences </h2>
    <div class="row">
      
      {% for experience in site.data.experiences %}
      <div class="col-12 mb-4">
        <div class="card h-100 bg-white d-flex flex-row border-0">
          <img class="card-img-left" src="{{ site.url }}{{ site.baseurl }}/assets/images/logo_jpeg/companies/{{ experience.logo_filename }}" alt="{{ experience.company_name }} logo" style="width: 100px; height: auto; object-fit: contain;">
          <div class="card-body">
            <h5 class="card-title">{{ experience.company_name }}</h5>
            <p class="card-text">
              <strong>{{ experience.position }}</strong> in {{ experience.area }}<br>
              <small class="text-muted">{{ experience.years }}</small>
            </p>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>

