<div class="jumbotron bg-white">
    <div class="container, container-fluid">
      <h2 class="display-4 mb-5"> Leadership </h2>
      <div class="row">
  
        
        <div class="col-lg-5 col-md-12">
          <p>
            Thoughout my graduate career at Georgia Tech, I've been extremely grateful to have opportunities to lead my peers and make an impact on both the Math and Data Science community. In my role as a Math Graduate Teaching Assistant, I led weekly recitation sessions with around 60 undergraduate students whose background ranges from Bussiness to Computer Science. I've also worked as a Teaching Assistant for the Data Science Boot Camp at the Erdos Institute where I led a breakout session with more than 10 PhDs in Mathematics and Physics. Outside of these roles, I volunteered in the content team of Data Science at Georgia Tech community, where I designed and presented workshops for our members.
          </p>
        </div>
        <div class="col-lg-7 col-md-12"> 
          {% include carousel.html id="carousel_leadership" interval=5000 slides=site.data.carousel.leadership_slides %}
        </div>
  
      </div>
    </div>
</div>