.homepage {
    /* height: 100%;
    margin: 0;*/
    overflow: scroll;
    /* background: linear-gradient(90deg, #add8e6, #ffb6c1); */
    background: linear-gradient(136deg,"#4484ce, #1ad7c0, #ff9b11, #9b59b6, #ff7f7f, #ecf0f1") 0% 0% / 1200% 1200%;
    animation: backgroundAnimation 10s infinite alternate;
}

@keyframes backgroundAnimation {
    0% {
        background: #add8e6;
    }
    100% {
        background: #ffb6c1;
    }
}

.bubble {
    position: absolute;
    top: 50;
    bottom: -50px; /*Start slightly off screen */
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    animation: moveBubbles 15s linear infinite;
    opacity: 1;
}

@keyframes moveBubbles {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh); /* Move to the top */
        opacity: 1;
    }
}

.words {
    position: relative;
    animation: move-words 10s ease-in-out infinite;
    margin: 20%;
    white-space: nowrap; /* Ensure the text does not wrap */
}

@keyframes move-words {
    0% {
        left: -15%;
    }
    50% {
        left: 15%;
    }
    100% {
        left: -15%;
    }
}

.center-vertical {
    align-items: center;
}
