<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <img src="{{ site.url }}{{ site.baseurl }}/assets/images/blog/header_stars.jpeg", style="width: 100%; margin: 0%; padding-top: 70px;" />
    <div class="jumbotron">
    <div class="container, container-fluid", style="max-width: 1000px; margin-top: -6%; background-color:#e9ecef; position: relative; z-index: 1;">
      <div class="row">
        {{ content }}
      </div>
    </div>
    </div>

    {% include footer.html %}

  </body>

</html>
